<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Dem-O-Auth{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ app.request.basePath }}/css/demo.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/shared.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        {% include 'shared/_analytics.twig' %}
        {% include 'shared/_github.twig' %}

        <div id="container">
            <header role="banner">
              {% block header %}
              <hgroup>
                  <h1>My Demo App</h1>
                  <h2>Demo a Better You</h2>
                      {% if app.environments %}
                        {% include 'client/_environment.twig' %}
                      {% endif %}
              </hgroup>
              <nav class="primary">
                  <ul class="menu" style="white-space: nowrap;">
                      <li class="current">
                          <a href="{{ path('homepage') }}">Start Over</a>
                      </li>
                      {% if token is defined and session_id is defined %}
                      <li class="current">
                          <a href="{{ url('request_resource', { 'token': token , 'state': session_id } ) }}">Request Resource</a>
                      </li>
                      {% endif %}
                  </ul>
              </nav>
              {% endblock %}
            </header>

            <article class="home" role="main">
                <div  role="main">
                  {% block content %}
                  {% endblock %}
                </div>
            </article>
        </div>
    </body>
</html>
